In [1]:
import pandas as pd
from pathlib import Path
import json

In [2]:
movies = pd.read_csv(Path('..','res','data','movies_metadata.csv'))
credits = pd.read_csv(Path('..','res','data','credits.csv'))
keywords = pd.read_csv(Path('..','res','data','keywords.csv'))
ratings_small = pd.read_csv(Path('..','res','data','ratings_small.csv'))
ratings = pd.read_csv(Path('..','res','data','ratings.csv'))

C:\Users\wypyc\AppData\Local\Temp\ipykernel_22356\610478715.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(Path('..','res','data','movies_metadata.csv'))

In [6]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [17]:
keywords['keywords'][1]

'[{\'id\': 10090, \'name\': \'board game\'}, {\'id\': 10941, \'name\': \'disappearance\'}, {\'id\': 15101, \'name\': "based on children\'s book"}, {\'id\': 33467, \'name\': \'new home\'}, {\'id\': 158086, \'name\': \'recluse\'}, {\'id\': 158091, \'name\': \'giant insect\'}]'

In [25]:
c = json.loads(keywords['keywords'][0])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

In [24]:
keywords['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

### Wczytanie danych z MovieLens100k do plikÃ³w csv.

In [5]:

# Wczytaj dane z pliku u.data
data = pd.read_csv(Path('..','res','ml100k','u.data'), sep='\t', names=['userId', 'movieId', 'rating', 'timestamp'])
# Zapisz dane do pliku CSV
data.to_csv(Path('..','res','data2','ratings.csv'), index=False)

In [8]:

data = pd.read_csv(Path('..','res','ml100k','u.genre'), sep='|', names=['genre', 'genreId'])
data.to_csv(Path('..','res','data2','genres.csv'), index=False)

In [81]:
data = pd.read_csv(Path('..','res','ml100k','usun.zamoment'), sep='|', 
                   names = ['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 
                       'unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'])
data.to_csv(Path('..','res','data2','movies.csv'), index=False)

In [59]:

data = pd.read_csv(Path('..','res','ml100k','u.user'), sep='|', names=['userId', 'age', 'gender', 'occupation', 'zip_code'])
data.to_csv(Path('..','res','data2','users.csv'), index=False)

### Rozszerzenie danych o `description`

In [63]:
movies_with_descriptions = pd.read_csv(Path('..','res','data','movies_metadata.csv'))

C:\Users\wypyc\AppData\Local\Temp\ipykernel_22356\1411825060.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_with_descriptions = pd.read_csv(Path('..','res','data','movies_metadata.csv'))

In [66]:
movies_with_descriptions = movies_with_descriptions[['id','title','overview']]

In [67]:
movies_with_descriptions.head()

,id,title,overview
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [69]:
movies_with_descriptions.shape

(45466, 3)

In [82]:
movies_without_descriptions = pd.read_csv(Path('..','res','data2','movies.csv'))
movies_without_descriptions.head()

,movie_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [83]:
movies_without_descriptions['title'] = movies_without_descriptions['title'].str.replace(r'\s*\(\d+\)', '', regex=True)
movies_without_descriptions.head()

,movie_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye,01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms,01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty,01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat,01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [135]:
movies_with_descriptions = movies_with_descriptions[~movies_with_descriptions['title'].isna()]

### Poprawiamy tytuÅ‚y, Å¼eby nie miaÅ‚y ", The" na koÅ„cu

In [141]:
mask = movies_without_descriptions['title'].str.endswith(', The')
movies_without_descriptions.loc[mask,'title'] = "The " + movies_without_descriptions.loc[mask,'title'].str.rstrip(", The")

In [142]:
mask = movies_without_descriptions['title'].str.endswith(', A')
movies_without_descriptions.loc[mask,'title'] = "A " + movies_without_descriptions.loc[mask,'title'].str.rstrip(", A")

In [143]:
mask = movies_without_descriptions['title'].str.endswith(', An')
movies_without_descriptions.loc[mask,'title'] = "An " + movies_without_descriptions.loc[mask,'title'].str.rstrip(", An")

In [127]:
movies_without_descriptions.loc[mask,'title'] = "The " + movies_without_descriptions.loc[mask,'title'].str.rstrip(", The")

In [144]:
complete_movies_table = movies_without_descriptions.merge(movies_with_descriptions[['title','overview']], 
                                                          on='title', how = 'left')

In [145]:
complete_movies_table[complete_movies_table['overview'].isna()]

,movie_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,overview
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao),01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12,11,Seven (Se7en),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN
15,14,"Postino, Il",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
17,16,French Twist (Gazon maudit),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
26,25,The Birdcag,08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,1661,The New Ag,01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2043,1676,The War at Hom,01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2045,1678,Mat' i syn,06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2048,1681,You So Crazy,01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2049,1682,Scream of Stone (Schrei aus Stein),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [153]:
movies_with_descriptions[movies_with_descriptions['title'].str.contains('Scream of')]

,id,title,overview
612,88893,Scream of Stone,"A meeting of two world famous climbers, one an..."
38823,56952,Scream of the Ants,"A girl believing in God marries an atheist, wh..."